<header class="header" [ngClass]="{ 'nav-open': isNavOpen }">
  <a class="header-logo" href="#"> Oasis Cabana </a>
  <nav class="main-nav">
    <ul class="man-nav-list">
      <li>
        <a
          class="main-nav-link"
          routerLink="."
          fragment="upcomingevents"
          (click)="goto('upcomingevents')"
          >Upcoming Events</a
        >
      </li>
      <li>
        <a
          class="main-nav-link"
          routerLink="."
          fragment="Testimonials"
          (click)="goto('testimonials')"
          >Testimonials</a
        >
      </li>
      <li>
        <a
          class="main-nav-link"
          routerLink="."
          fragment="Location"
          (click)="goto('location')"
          >Location</a
        >
      </li>

      <li>
        <a
          class="main-nav-link"
          routerLink="."
          fragment="contactus"
          (click)="goto('cta')"
          >Contacts Us</a
        >
      </li>
    </ul>
  </nav>
  <button class="btn-mobile-nav" (click)="toggleMobileNavButton()">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>
