<section id="upcomingevents" class="section-upcomingevents">
  <div class="container">
    <span class="subheading">Upcoming Events</span>
    <h2 class="heading-secondary">
      Secure your seat in the tapestry of unforgettable moments
    </h2>
  </div>
  <div class="container grid grid--3-cols margin-bottom-md">
    <div class="meal">
      <img
        src="https://media.istockphoto.com/id/1184893073/photo/happy-couple-with-gift-box-hugging-at-home.webp?b=1&s=170667a&w=0&k=20&c=-mxFOZyFjeC4ZuiH3nCC-s3EIgMxkcYs887O2QYPVgo="
        class="meal-img"
        alt="Valentine Day"
      />
      <div class="meal-content">
        <p class="meal-title">Valentine Day</p>
        <p class="meal-date">14 Feb 2024</p>
        <ul class="meal-attributes">
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="flame-outline"></ion-icon>
            <span><strong>&#8377; 2000</strong> per person</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
            <span>Unlimited Food</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="musical-notes-outline"></ion-icon>
            <span>Live Band</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="bonfire-outline"></ion-icon>
            <span>Bonfire</span>
          </li>
          <li class="meal-attribute">
            <ion-icon class="meal-icon" name="alert-outline"></ion-icon>
            <span>Private Tents</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
