.section-location {
  padding: 9.6rem 0;
}

.address-text {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
}

.grid-location {
  grid-template-columns: 35fr 65fr;
}

.mapouter {
  position: relative;
  text-align: center;
  height: 560px;
  width: 700px;
}

.location-icon {
  width: 3.6rem;
  height: 3.6rem;
  margin-bottom: 1.8rem;
  stroke: #375144;
}

.location-address {
  margin-bottom: 4.8rem;
}

.location-phone-numbers {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
