<section id="location" class="section-location">
  <div class="container">
    <span class="subheading">Location</span>
    <h2 class="heading-secondary">
      Seal your moments in time by reserving your space
    </h2>
  </div>
  <div class="container grid grid-location">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="500"
          height="500"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=Oasis+cabana&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe>
      </div>
    </div>
    <div>
      <address class="location-address">
        <ion-icon class="location-icon" name="location-outline"></ion-icon>
        <p class="address-text">
          Thakurpada, Jayshet, Vandri Lake Rd, Dhekale, Maharashtra 401404
        </p>
      </address>
      <address class="location-Contact">
        <ion-icon class="location-icon" name="call-outline"></ion-icon>
        <div class="location-phone-numbers">
          <p class="address-text">+91 79728 44478</p>
          <p class="address-text">+91 86000 88612</p>
        </div>
      </address>
    </div>
  </div>
</section>
