<section class="section-cta" id="cta">
  <div class="container">
    <div class="cta">
      <div class="cta-text-box">
        <h2 class="heading-secondary">
          Reserve your seat for adventurious camping event.
        </h2>
        <p class="cta-text">
          Gear up for an unforgettable adventure! Join our upcoming camping
          event and immerse yourself in the beauty of nature. Reserve your spot
          now by clicking the link below and embark on a weekend filled with
          camaraderie, s'mores by the campfire, and memories that will last a
          lifetime. Don't miss out – secure your place under the stars today!
        </p>

        <form class="cta-form" action="#">
          <div>
            <label for="full-name">Full Name</label>
            <input
              id="full-name"
              type="text"
              placeholder="John Smith"
              required
            />
          </div>

          <div>
            <label for="email">Email address</label>
            <input
              id="email"
              type="email"
              placeholder="me@example.com"
              required
            />
          </div>

          <div>
            <label for="select-where">Where did you hear from us?</label>
            <select id="select-where" required>
              <option value="">Please choose one option:</option>
              <option value="friends">Friends and family</option>
              <option value="youtube">YouTube video</option>
              <option value="podcast">Podcast</option>
              <option value="ad">Facebook ad</option>
              <option value="others">Others</option>
            </select>
          </div>

          <button class="btn btn--form">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
