<section class="section-testimonials" id="testimonials">
  <div class="testimonials-container">
    <span class="subheading">Testimonials</span>
    <h2 class="heading-secondary">Once you try it, you can't go back</h2>

    <div class="testimonials">
      <figure class="testimonial">
        <ion-icon class="user-icon" name="person-circle-outline"></ion-icon>
        <blockquote class="testimonial-text">
          The experience was wonderful. The site is developing still. But
          currently, they have lawn, tents, food, music, barbecue and bonfire.
          Very nice scenic place surrounded by mountains and greenery. Also good
          for stargazing, going around waterfalls and jungle. Hospitality by Mr.
          Sudhanshu and team is best, good food quality. Can add more items for
          breakfast though. Overall, 2 days relaxing outing.
        </blockquote>
        <p class="testimonial-name">&mdash; Sushilkumar Ramdasi</p>
      </figure>

      <figure class="testimonial">
        <ion-icon class="user-icon" name="person-circle-outline"></ion-icon>
        <blockquote class="testimonial-text">
          Very well event organised with kind supporting staff. Everything was
          at places as promised by them at camp for New Year Celebration. Tasty
          Food, Nice Ambience, staff behaviour was very Good and Mr. Sudhanshu
          and team who managed this event have taken care for everything.
          Enjoyed a lot with this new experience at Campsite.
        </blockquote>
        <p class="testimonial-name">&mdash; Prem Kateriya</p>
      </figure>

      <figure class="testimonial">
        <ion-icon class="user-icon" name="person-circle-outline"></ion-icon>
        <blockquote class="testimonial-text">
          Peaceful place. The service was very good, very friendly staff,
          someone who love nature must visit here.. Highly recommend this
          place😍
        </blockquote>
        <p class="testimonial-name">&mdash; Aparna Thakur</p>
      </figure>

      <figure class="testimonial">
        <ion-icon class="user-icon" name="person-circle-outline"></ion-icon>
        <blockquote class="testimonial-text">
          Its really a amazing place i ever go i went hear for new year
          celebration and i had so much fun 🤩 great place for inner peace
          highly recommended 😊❤️
        </blockquote>
        <p class="testimonial-name">&mdash; Amey Madkaikar</p>
      </figure>
    </div>
  </div>

  <div class="gallery">
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-1.jpg"
        alt="Photo of beautifully
            arranged food"
      />
      <!-- <figcaption>Caption</figcaption> -->
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-2.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-3.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-4.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-5.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-6.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-7.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-8.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-9.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-10.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-11.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="../../assets/img/gallery/gallery-12.jpg"
        alt="Photo of beautifully
            arranged food"
      />
    </figure>
  </div>
</section>
